.markdown-source-view.mod-cm6,
.markdown-source-view.mod-cm6 .cm-content,
.markdown-source-view.mod-cm6 .cm-line,
.markdown-source-view.mod-cm6 .cm-sizer {
  max-width: unset !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.cm-editor {
  margin: 0 !important;
}